///// Social media //////


.facebook, .twitter {
  width: 75px;
}

///// Latest Posts //////

.posts-grid {
  padding: 50px;
}

.posts {
  h1 {
    text-align: center;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
}
.flex-item {
  background: #BF3434;
  margin: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  padding: 20px;

  .post-content {
    margin-top: 40%;
    font-size: 0.7vw;
  }
}
.flex-item:before {
  content:'';
  float:left;
  padding-top:100%;
}

.row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width:1366px) {

  .row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  .post-content {
    display: none;
  }
}


@media screen and (max-width:768px) {
  .row {
    width: 100%;
  }
}

////////////

///// Main vid //////

.front-video {
  position:relative;
}


.intro-vid {
  display: block;
  margin: 0 auto;
  text-align: center;
}

iframe {
  display: inline !important;
}
@media screen and (max-width:768px) {
  .intro-vid {
    display: none !important;
  }
}


////////////
